$padding: 1.5rem;
$padding-sm: 0.5rem;
$margin: 1rem;

$color-blue: #1c56d0;
$color-light-blue: #207cca;
$color-lightest-blue: #1f6eff;
$color-white: #fff;
$color-gray: #eee;

$background-blue-gradient: linear-gradient(to bottom, $color-lightest-blue 0%, $color-light-blue 36%, $color-blue 68%, $color-blue 99%);

$font: 1rem;
$font-xl: 3rem;
$font-s: 0.8rem;

$text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
